.App {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-family: "Pacifico", cursive;
  padding: 1rem 0rem;
}

input {
  display: block;
  margin: auto;
  padding: 0.5rem;
  width: 50%;
}

h3 {
  padding: 0rem;
}
